<div  *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Customers</h6>
                    </div>
                    <div class="icons" style="display: none;">
                        <button type="button" (click)="openCustomers(CustomersModel)"
                            class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>

                <ng-template #deleteCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Attribute</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <div class="table-responsive">
                    <table id="CustomerTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.mobile_no}}</td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        View
                                    </button>
                                    <!-- <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                        class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount"
                            [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="createtab">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customers</h5>
        <button type="button" class="close" (click)="backmenu()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">        
        <div class="col-md-4 col-6" *ngFor="let item of CustomerData | keyvalue : returnZero; let i=index;">
            <div class="form-group">
                <label for="DisplayLength">{{item.key.split("_").join(" ")}}</label>
                <input type="text" class="form-control" disabled [value]="item.value">
            </div>
        </div>
    </div>   
</div>