<div *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Common Attributes</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openCategoryAttr()"
                            class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>       
                
                <ng-template #deleteCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <div class="table-responsive">
                    <table id="CategoryAttrTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Common Attribute</th>
                                <th>Is Mandatory</th>
                                <th>Column Name</th>
                                <th>DisplayOrder ID</th>
                                <th>Is Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.commom_attributes_name}}</td>
                                <td>
                                    <span>
                                        {{item.is_mandatory}}
                                    </span>
                                </td>
                                <td>{{item.column_name}}</td>
                                <td>{{item.display_order_no}}</td>
                                <td>
                                    <span>
                                        {{item.is_active}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                     class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>                        
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" 
                                [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="createtab">
        <form [formGroup]="commonattrForm">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Common Attributes</h5>
                <button type="button" class="close" (click)="backmenu()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="CommonAttribute">Common Attribute</label>
                    <input type="text" class="form-control" formControlName="commom_attributes_name"
                        id="CommonAttribute" autocomplete="off" placeholder="Common Attribute">
                </div>
                <div class="row">
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="OrderNo1">Is Mandatory?</label>
                            <select class="form-control" formControlName="is_mandatory">
                                <option value=''>Select Is Mandatory</option>
                                <option value='Yes'>Yes</option>
                                <option value='No'>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="ColumnName">Column Name</label>
                            <input type="text" class="form-control" formControlName="column_name"
                                id="ColumnName" autocomplete="off" placeholder="Column Name">
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="AttributeDescription">Input Type</label>
                            <select class="form-control" formControlName="input_type">
                                <option value="">Select Input Type</option>
                                <option value="1">char_field</option>
                                <option value="2">num_field</option>
                                <option value="3">date_field</option>
                            </select>
                        </div>
                    </div>        
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="OrderID">Form Display Length</label>
                            <input type="text" class="form-control" formControlName="form_display_length"
                                autocomplete="off" placeholder="Form Display Length">
                        </div>
                    </div>          
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="OrderNo1">Display Order No</label>
                            <select class="form-control" formControlName="display_order_no">
                                <option [value]="''">Select Is Display Order No</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="OrderID">Order ID</label>
                            <input type="text" class="form-control" formControlName="order_id"
                                autocomplete="off" placeholder="Order ID">
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="OrderNo1">Is Active</label>
                            <select class="form-control" formControlName="is_active">
                                <option value="Active">Active</option>
                                <option value="Draft">Draft</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary"
                    (click)="modal.close('by: close button')">Close</button> -->
                <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id ==''" (click)="onSubmit()">
                    {{SubmitButtonName}}
                </button>
                <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id !=''" (click)="onUpdSubmit()">
                    Update
                </button>
            </div>
        </form>
</div>