<div  *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Attributes</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openCategoryAttr()"
                            class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>

                <ng-template #deleteCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Attribute</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <div class="table-responsive">
                    <table id="CategoryAttrTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Attribute</th>
                                <th>Is search preference</th>
                                <th>Input Type</th>
                                <th>Is Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.attribute}}</td>
                                <td>
                                    <span>
                                        {{item.is_search_preference}}
                                    </span>
                                </td>
                                <td>{{item.input_type}}</td>
                                <td>
                                    <span>
                                        {{item.is_active}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                     class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>                       
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" 
                                [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="createtab">
    <form [formGroup]="attrForm">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Attributes</h5>
            <button type="button" class="close" (click)="backmenu()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="AttributeName">Attribute Name</label>
                <input type="text" class="form-control" formControlName="attribute" id="AttributeName"
                    autocomplete="off" placeholder="Attribute Name">

            </div>
            <div class="form-group">
                <label for="AttributeDescription">Attribute Description</label>
                <input type="text" class="form-control" formControlName="attribute_description" id="AttributeDescription"
                    autocomplete="off" placeholder="Attribute Description">

            </div>
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Is Search Preference</label>
                        <select class="form-control" formControlName="is_search_preference">
                            <option value="">Select Search Preference</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Is Global</label>
                        <select class="form-control" formControlName="is_global_search">
                            <option value="">Select Global</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="AttributeDescription">Type ID</label>
                        <select class="form-control" formControlName="type_Id">
                            <option value="">Select Type</option>
                            <option value="1">char_field</option>
                            <option value="2">num_field</option>
                            <option value="3">date_field</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="AttributeDescription">Input Type</label>
                        <select class="form-control" formControlName="input_type">
                            <option value="">Select Input Type</option>
                            <option value="1">text</option>
                            <option value="2">textarea</option>
                            <option value="3">select</option>
                            <option value="4">radio</option>
                            <option value="5">number</option>
                            <option value="6">date</option>
                            <option value="7">checkbox</option>
                            <option value="8">image</option>
                            
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="DisplayLength">Form Display Length</label>
                        <input type="text" class="form-control" formControlName="form_display_length"
                         id="DisplayLength" autocomplete="off" placeholder="Display Length">
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Is Active</label>
                        <select class="form-control" formControlName="is_active">
                            <option>Active</option>
                            <option>Draft</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id ==''" (click)="onSubmit()">
                {{SubmitButtonName}}
            </button>
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id !=''" (click)="onUpdSubmit()">
                Update
            </button>
        </div>
    </form>
</div>