<div *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Category Attributes</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openCategoryAttr()" class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>

                <ng-template #deleteCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <div class="table-responsive">
                    <table id="CategoryTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Category Name</th>
                                <th style="max-width: 200px;">Attributes</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.sub_category_name}}</td>
                                <td style="max-width: 200px; white-space: inherit;">
                                    <div *ngFor="let attr of item.attributes; let j = index">
                                        <button type="button"
                                            class="btn btn-primary btn-xs mr-2 mb-2">{{attr.attribute}}</button>
                                    </div>
                                </td>
                                <td>
                                    <span>
                                        True
                                    </span>
                                </td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                     class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>                        
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" 
                                [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngIf="createtab">
    <form [formGroup]="categoryForm">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Category Attributes</h5>
            <button type="button" class="close" (click)="backmenu();" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="CategoryName">Sub Category Name</label>
                <select class="form-control" formControlName="sub_category_id" (change)="onchgattribute($event.target.value)">
                    <option [value]="''">Select Sub Category</option>
                    <option *ngFor="let subcat of subcategory" [value]="subcat.sub_category_id">
                        {{subcat.sub_category_name}}
                    </option>
                </select>
            </div>
            <div formArrayName="attributes">
                <div class="row mt-4" *ngFor="let target of resultSetDetails['controls']; let i=index;"
                    formGroupName="{{i}}">
                    <div class="col-12">
                        <div class="form-group border-bottom d-flex justify-content-between">
                            <label for="Attribute1">Attribute {{i + 1}}</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="Attribute1">Attribute</label>
                            <select class="form-control" formControlName="attribute_id">
                                <option [value]="''">Select Attribute</option>
                                <option *ngFor="let attr of attributedata" [value]="attr.attribute_id">
                                    {{attr.attribute}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="Attribute1">Is mandatory</label>
                            <select class="form-control" formControlName="is_mandatory">
                                <option [value]="''">Select Is mandatory</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="OrderNo1">Order No</label>
                            <select class="form-control" formControlName="order_no">
                                <option [value]="''">Select Is Order No</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="TypeID">Type ID</label>
                            <select class="form-control" formControlName="type_id">
                                <option [value]="''">Select Is Type ID</option>
                                <option value="1">char_field</option>
                                <option value="2">num_field</option>
                                <option value="3">date_field</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="DisplayOrderNo1">Display Order No</label>                           
                                <select class="form-control" formControlName="display_order_no">
                                    <option [value]="''">Select Is Display Order No</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="IsLeftFilter">Is Left Filter</label>
                            <select class="form-control" formControlName="Is_left_filter">
                                <option [value]="''">Select Is Left Filter</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="IsChild">Is Child</label>
                            <select class="form-control" formControlName="is_parent" (change)="chgchild($event.target.value)">
                                <option [value]="''">Select Is Is Child</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6" *ngIf="parentenable">
                        <div class="form-group">
                            <label for="IsParent">Is Parent</label>
                            <select class="form-control" formControlName="parent_attribute_id">
                                <option [value]="''">Select Is Parent</option>
                                <option *ngFor="let attr of parentattr" [value]="attr.category_attribute_Id">
                                    {{attr.attribute}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="IsPopularSearch">Is Popular Search</label>
                            <select class="form-control" formControlName="is_popular_search">
                                <option [value]="''">Select Is Popular Search</option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div class="form-group">
                            <label for="IsActive">Is Active</label>
                            <select class="form-control" formControlName="Is_active">
                                <option [value]="''">Select Is Active</option>
                                <option value="Active">Active</option>
                                <option value="Draft">Draft</option>
                            </select>
                        </div>
                    </div>
                    <!-- <button type="button" (click)="addFormArray(i)" class="btn btn-primary btn-icon-text mr-2">Add
                        Attribute</button>
                    <button type="button" *ngIf="i>0" (click)="removeFormArray(i)"
                        class="btn btn-danger btn-icon-text">Remove</button> -->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onSubmit()">{{SubmitButtonName}}</button>
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id !=''" (click)="onUpdSubmit()">
                Update
            </button>
        </div>
    </form>
</div>