<div *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Sponsored Ads</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openCategoryAttr()" class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>     
                
                <ng-template #deleteCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Attribute</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <div class="table-responsive">
                    <table id="MainBannerTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>SPONSOR</th>
                                <th>CATEGORY</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource;  let i = index">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{item.sponsorBy}}</td>
                                <td>{{item.category_name}}</td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                        class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount"
                            [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="createtab">
    <form [formGroup]="attrForm">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Customers</h5>
            <button type="button" class="close" (click)="backmenu()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="SponsorName">Sponsor Name</label>
                <input type="text" class="form-control" formControlName="sponsorBy" autocomplete="off"
                    placeholder="Sponsor Name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Category</label>
                <select class="form-control" formControlName="categoryId">
                    <option value="">Select Category</option>
                    <option *ngFor="let category of categoryListData" [value]="category.category_id">
                        {{category.category_name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Price">Image</label>
                <div class="dropzone" [dropzone]="config" (error)="onUploadError($event)"
                    (success)="onUploadSuccess($event)"></div>
                <button class="btn btn-secondary mt-2 d-block ml-auto"
                    (click)="resetDropzoneUploads()">Reset</button>
            </div>

            <div class="form-group">
                <label for="Mobile">URL</label>
                <input type="text" class="form-control"  formControlName="sponsorUrl" autocomplete="off" placeholder="URL">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id ==''" (click)="onSubmit()">
                {{SubmitButtonName}}
            </button>
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id !=''" (click)="onUpdSubmit()">
                Update
            </button>
        </div>
    </form>
</div>