<div *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Sub Attributes</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openCategoryAttr()" class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>

                <ng-template #deleteCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Sub-Attribute</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Sub Category</th>
                                <th>Attribute</th>
                                <th>Sub Attribute Name</th>
                                <th>Is Active</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.sub_category_name}}</td>
                                <td>{{item.attribute}}</td>
                                <td>{{item.sub_attributes_value}}</td>
                                <td>
                                    <span>
                                        {{item.is_active}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                    class="btn btn-danger btn-icon-text">
                                       <i class="feather icon-delete btn-icon-prepend"></i>
                                       Delete
                                   </button>
                                </td>
                            </tr>
                        </tbody>
                        <!-- <tfoot>
                            <tr>
                                <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" 
                                [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                            </tr>
                        </tfoot> -->
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount"
                            [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="createtab">

    <form [formGroup]="subcategoryForm">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Sub Attributes</h5>
            <button type="button" class="close" (click)="backmenu();" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="CommonAttribute">Sub Category</label>
                <select class="form-control" formControlName="sub_category_id" (change)="onchgattribute($event.target.value)">
                    <option [value]="''">Select Sub Category</option>
                    <option *ngFor="let subcat of subcategory" [value]="subcat.sub_category_id">
                        {{subcat.sub_category_name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="CommonAttribute">Attribute</label>
                <select class="form-control" formControlName="attributes_id">
                    <option [value]="''">Select Attribute</option>
                    <option *ngFor="let attr of attributedata" [value]="attr.attribute_id">
                        {{attr.attribute}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="IsChild">Is Child</label>
                <select class="form-control" formControlName="is_child" (change)="chgchild($event.target.value)">
                    <option [value]="''">Select Is Is Child</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group" *ngIf="parentenable">
                <label for="IsParent">Parent</label>
                <select class="form-control" formControlName="parent_id">
                    <option [value]="''">Select Parent</option>
                    <option *ngFor="let attr of parentattr" [value]="attr.sub_attributes_id">
                        {{attr.sub_attributes_name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="SubAttributeName">Sub Attribute Name</label>
                <input type="text" class="form-control" formControlName="sub_attributes_name" id="SubAttributeName"
                    autocomplete="off" placeholder="Sub Attribute Name">
            </div>
            <div class="form-group">
                <label for="SubAttributeValue">Sub Attribute Value</label>
                <input type="text" class="form-control" formControlName="sub_attributes_value" id="SubAttributeValue"
                    autocomplete="off" placeholder="Sub Attribute Value">
            </div>
            <div class="form-group">
                <label for="CommonAttribute">Is Active?</label>
                <select class="form-control" formControlName="is_active">
                    <option value="''">Select Is Active</option>
                    <option value="Active">Active</option>
                    <option value="Draft">Draft</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary"
                    (click)="modal.close('by: close button')">Close</button> -->
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id ==''" (click)="onSubmit()">{{SubmitButtonName}}</button>
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id !=''" (click)="onUpdSubmit()">
                Update
            </button>
        </div>
    </form>
</div>