<div class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Category</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="createCategory(CategoryModel)" class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>
                <ng-template #deleteCategoryModel let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
                            <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete ?</p>
    
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                                <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                            </div>
                        </div>
    
                    </ng-template>
    
                <ng-template #CategoryModel let-modal>
                    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                            <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Category Name</label>
                                    <input type="text" formControlName="categoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }"
                                    />
                                    <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
                                        <div *ngIf="submitted && f.categoryName.errors.required">Category is required</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Category Status</label>
                                    <select formControlName="categorystatus" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categorystatus.errors }">
                                        <option value="">Select Sub category Status</option>
                                        <option value="0">Draft</option>
                                        <option value="1">Active</option>
                                    </select>
                                    <div *ngIf="submitted && f.categorystatus.errors" class="invalid-feedback">
                                        <div *ngIf="submitted && f.categorystatus.errors.required">Sub Category Status is required</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
                            <button class="btn btn-primary" *ngIf="buttonText =='save'">
                                Save
                            </button>
                            <button class="btn btn-primary" *ngIf="buttonText =='update'">
                                Update
                            </button>
                        </div>
                    </form>
                </ng-template>

                <div class="table-responsive">
                    <table id="CategoryTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Category Name</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let category of categoryListData;  let i = index">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{category.category_name}}</td>
                                <td>
                                    <span *ngIf="category.is_active == '1' ">
                                        True
                                    </span>
                                    <span *ngIf="category.is_active == '0' ">
                                        False
                                    </span>
                                </td>
                                <td>
                                    <button type="button" (click)="updateCategory(CategoryModel,category)" class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-icon-text" (click)="deleteCategoryModal(deleteCategoryModel,category)">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>