<div class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Types</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openType(TypeModel)" class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>


                <ng-template #TypeModel let-modal>
                    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Type</h5>
                            <button type="button" class="close" (click)="modal.close('by: close icon')"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="Type">Type</label>
                                <input type="text" class="form-control" formControlName="Type" id="Type"
                                    autocomplete="off" placeholder="Type">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                (click)="modal.close('by: close button')">Close</button>
                            <button type="button" class="btn btn-primary" (click)="createCategory()">Save
                                changes</button>
                        </div>
                    </form>
                </ng-template>

                <div class="table-responsive">
                    <table id="CategoryAttrTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Car</td>
                                <td>
                                    <button type="button" (click)="openCategoryAttr(CategoryAttrModel)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>