<div class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Sub Category</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="createSubcategory(SubCategoryModel)" class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>

                <ng-template #deleteSubCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Sub Category</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteSubCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <ng-template #SubCategoryModel let-modal>
                    <form [formGroup]="subcategoryForm" (ngSubmit)="onSubmit()">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Sub Category</h5>
                            <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Select Category</label>
                                    <select formControlName="category_FC" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.category_FC.errors }">
                                        <option value="">Select Category</option>
                                        <option *ngFor="let category of categoryListData" [value]="category.category_id">{{category.category_name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.category_FC.errors" class="invalid-feedback">
                                        <div *ngIf="f.category_FC.errors.required">Category is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Sub Category</label>
                                    <input type="text" formControlName="sub_category_FC" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sub_category_FC.errors }"
                                    />
                                    <div *ngIf="submitted && f.sub_category_FC.errors" class="invalid-feedback">
                                        <div *ngIf="f.sub_category_FC.errors.required">Sub Category is required</div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label>Sub Category Status</label>
                                    <select formControlName="subCatStatus_FC" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subCatStatus_FC.errors }">
                                        <option value="">Select Sub category Status</option>
                                        <option value="0">Draft</option>
                                        <option value="1">Active</option>
                                    </select>
                                    <div *ngIf="submitted && f.subCatStatus_FC.errors" class="invalid-feedback">
                                        <div *ngIf="f.subCatStatus_FC.errors.required">Sub Category Status is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button class="btn btn-primary" *ngIf="buttonText =='save'">                                  
                                    Save
                                </button>
                                <button class="btn btn-primary" *ngIf="buttonText =='update'">                                    
                                    Update
                                </button>
                                <a routerLink="/users" class="btn btn-link">Cancel</a>
                            </div>

                        </div>
                    </form>
                </ng-template>

                <div class="table-responsive">
                    <form>
                        <table id="SubCategoryTable" class="table">
                            <thead>
                                <tr>
                                    <th>S.no</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let subCategory of subCategoryListData;  let i = index">
                                <tr>
                                    <td>{{i + 1}}</td>
                                    <td>{{subCategory.category_name}}</td>
                                    <td>{{subCategory.sub_category_name}}</td>
                                    <td>
                                        <span *ngIf="subCategory.sub_is_active == '1' ">
                                            True
                                        </span>
                                        <span *ngIf="subCategory.sub_is_active == '0' ">
                                            False
                                        </span>
                                    </td>
                                    <td>
                                        <button type="button" (click)="updateSubCategory(SubCategoryModel,subCategory)" class="btn btn-primary btn-icon-text mr-2">
                                            <i class="feather icon-edit btn-icon-prepend"></i>
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon-text" (click)="deleteSubCategoryModal(deleteSubCategoryModel,subCategory)">
                                            <i class="feather icon-delete btn-icon-prepend"></i>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                                </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>