<div *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Package</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openCategoryAttr()" class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>

                <ng-template #deleteCategoryModel let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Attribute</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete ?</p>

                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="btn btn-primary" (click)="modal.close('by: close icon')"> Cancel</button>
                            <button class="btn btn-danger" (click)="deleteCategory()"> Delete</button>
                        </div>
                    </div>

                </ng-template>

                <div class="table-responsive">
                    <table id="SponsorsTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Package Name</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Price</th>
                                <th>Validity</th>
                                <th>Ads Limit</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.package_name}}</td>
                                <td>
                                    <span>
                                        {{item.category_name}}
                                    </span>
                                </td>
                                <td>{{item.sub_category_name}}</td>
                                <td>
                                    <span>
                                        {{item.price}}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{item.validity}}
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        {{item.product_limit}}
                                    </span>
                                </td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                        class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount"
                            [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="createtab">
    <form [formGroup]="attrForm">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Package</h5>
            <button type="button" class="close" (click)="backmenu()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="SponsorName">Package Name</label>
                <input type="text" class="form-control" formControlName="package_name" autocomplete="off"
                    placeholder="Package Name">
            </div>
            <div class="row">
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Category</label>
                        <select formControlName="categoryid" class="form-control">
                            <option value="">Select Category</option>
                            <option *ngFor="let category of categoryListData" [value]="category.categoryid">
                                {{category.category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Sub Category</label>
                        <select formControlName="subcategoryid" class="form-control" (change)="onchgcategory($event.target.value)">
                            <option value="">Select sub Category</option>
                            <option *ngFor="let category of subcategory" [value]="category.category_id">
                                {{category.category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Price</label>
                        <input type="text" class="form-control" formControlName="price" autocomplete="off"
                            placeholder="Price">
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Validity</label>
                        <input type="text" class="form-control" formControlName="validity" autocomplete="off"
                            placeholder="Validity">
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="form-group">
                        <label for="OrderNo1">Ads Limit</label>
                        <input type="text" class="form-control" formControlName="product_limit" autocomplete="off"
                            placeholder="Ads Limit">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id ==''" (click)="onSubmit()">
                {{SubmitButtonName}}
            </button>
            <button type="button" class="btn btn-primary" *ngIf="commom_attributes_id !=''" (click)="onUpdSubmit()">
                Update
            </button>
        </div>
    </form>
</div>