<div *ngIf="!createtab" class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Products</h6>
                    </div>
                    <div class="icons" style="display: none;">
                        <button type="button" (click)="openProducts(ProductsModel)"
                            class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>            

                <div class="table-responsive">
                    <table id="ProductTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Product title</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of datasource; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.product_title}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.is_active}}</td>
                                <td>
                                    <button type="button" (click)="editCategoryAttr(item)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        View
                                    </button>
                                    <!-- <button type="button" (click)="deleteCategoryModal(deleteCategoryModel,item)"
                                        class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button> -->
                                </td>
                            </tr>
                        </tbody>                     
                    </table>
                    <div>
                        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount"
                            [pageSize]="pageSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="createtab">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product</h5>
        <button type="button" class="close" (click)="backmenu()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row">        
        <div class="col-md-4 col-6" *ngFor="let item of CustomerData | keyvalue : returnZero; let i=index;">
            <div class="form-group">
                <label for="DisplayLength">{{item.key.split("_").join(" ")}}</label>
                <input type="text" class="form-control" disabled [value]="item.value">
            </div>
        </div>
    </div>   
</div>