<div class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Login / Signup</h6>
                    </div>
                    <div class="icons">
                        <button type="button" (click)="openLoginAccess(Accessmodel)"
                            class="btn btn-primary btn-icon-text mr-2">
                            <i class="feather icon-plus btn-icon-prepend"></i>
                            Add new
                        </button>
                    </div>
                </div>

                <!-- Modal -->
                <ng-template #Accessmodel let-modal>
                    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Login / Signup Access</h5>
                        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <h6 class="card-title">Select Country</h6>
                            <ng-select formControlName="countryFc" [items]="people" bindLabel="name" bindValue="id" placeholder="type to search"
                               >
                            </ng-select>
                            <!-- <ng-select formControlName="countryFc" [items]="people" bindLabel="name" bindValue="id" placeholder="type to search"
                                [(ngModel)]="selectedSearchPersonId">
                            </ng-select> -->
                        </div>
                        <div class="form-group">
                            <h6 class="card-title">Login By</h6>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" formControlName="emailFc" class="form-check-input">
                                    <i class="input-frame"></i>
                                    Email
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" formControlName="mobileFc" class="form-check-input">
                                    <i class="input-frame"></i>
                                    Mobile
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <h6 class="card-title">Swap / Rent / Sell</h6>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" formControlName="swapFc" class="form-check-input">
                                    <i class="input-frame"></i>
                                    Swap
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" formControlName="rentFc" class="form-check-input">
                                    <i class="input-frame"></i>
                                    Rent
                                </label>
                            </div>
                            
                            <div class="form-check form-check-inline">
                                <label class="form-check-label">
                                    <input type="checkbox" formControlName="sellFc" class="form-check-input">
                                    <i class="input-frame"></i>
                                    Sell
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            (click)="modal.close('by: close button')">Close</button>
                        <button type="button" class="btn btn-primary" (click)="updateAdmin()">
                            Save changes
                        </button>
                    </div>
                    </form>
                </ng-template>
                <!-- Close result -->

                <div class="table-responsive">
                    <table id="MainBannerTable" class="table">
                        <thead>
                            <tr>
                                <th>S.no</th>
                                <th>Country</th>
                                <th>Email/Mobile</th>
                                <th>Swap</th>
                                <th>Rent</th>
                                <th>Sell</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let country of countryListData;  let i = index">
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{country.name}}</td>
                                <td>
                                    <span *ngIf="country.isEmailValid == '1' && country.isMobileValid == '1'">
                                        Email / Mobile
                                    </span>
                                    <span *ngIf="country.isEmailValid == '1' &&  country.isMobileValid == '0'">
                                        Email
                                    </span>
                                    <span *ngIf="country.isEmailValid == '0' && country.isMobileValid == '1'">
                                        Mobile
                                    </span>
                                </td>
                                <td>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">                                           
                                            <input type="checkbox" disabled [checked]="country.isSwap == '1'" name="Swap" class="form-check-input">                                           
                                            <i class="input-frame"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" disabled [checked]="country.isRent == '1'" name="Rent" class="form-check-input">
                                            <i class="input-frame"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" name="Sell" disabled [checked]="country.isSell == '1' " class="form-check-input">
                                            <i class="input-frame"></i>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" (click)="openLoginAccess(Accessmodel); fetchFormVal(country)"
                                        class="btn btn-primary btn-icon-text mr-2">
                                        <i class="feather icon-edit btn-icon-prepend"></i>
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-danger btn-icon-text">
                                        <i class="feather icon-delete btn-icon-prepend"></i>
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                      
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>