<div class="row mb-5">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="title d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h6 class="card-title">Terms & Condition</h6>
                    </div>
                </div>

                <div *ngIf="data && data.length > 0">
                    <form [formGroup]="form">
                        <quill-editor formControlName="content1" placeholder="Enter Text" [modules]="quillConfig"
                            (onSelectionChanged)="onSelectionChanged($event)"
                            (onContentChanged)="onContentChanged($event)">
                        </quill-editor>
                    </form>
                </div>
                <p *ngIf="data.length == 0">Loading....</p>
                <p class="text-right mt-4">
                    <button class="btn btn-primary" *ngIf="data && data.length > 0" 
                        (click)="onSubmit()"> {{BtnName}} </button>
                </p>
            </div>
        </div>
    </div>
</div>